<style media="screen">
  ul {
    height : 100px;
    width: 100px;
    color: darkcyan;
    background-color: lightsteelblue;
    margin-bottom: 30px;
  }
</style>

<h1>Friend Finder</h1>


{{#each friends }}
<ul>
  <li>Name: {{name}}</li>
  <li>Photo: {{photo}}</li>
  <li>Score: {{scores}}</li>
</ul>
{{/each}}