
<section class="welcome-box">
  <div>
    <h1 class="ml-2">Friend Finder</h1>
  </div>
  <div>
    <h2>I'm a flexbox container!</h2>
  </div>
  <div>
    <a href="/survey">
      <button type="button" class="btn btn-primary">Go To Survey</button>
    </a>
  </div>
</section>


{{!-- {{#each friends }}
<ul>
  <li>Name: {{name}}</li>
  <li>Photo: {{photo}}</li>
  <li>Score: {{scores}}</li>
</ul>
{{/each}} --}}