
<section class="welcome-box">
  <div>
    <h1 class="display-3 ml-2">Friend Finder</h1>
  </div>
  <div>
    <h2 class="display-5">Answer a Few Questions!</h2>
  </div>
  <div>
    <h2 class="display-5">Find out which of your friends is the most compatible!</h2>
  </div>
  <hr>
  <div>
    <a href="/survey">
      <button type="button" class="btn btn-primary btn-lg">Go To Survey</button>
    </a>
  </div>
</section>


{{!-- {{#each friends }}
<ul>
  <li>Name: {{name}}</li>
  <li>Photo: {{photo}}</li>
  <li>Score: {{scores}}</li>
</ul>
{{/each}} --}}