  <div class="container">
    <div class="survey-header-box">
        <h2 class="d-inline display-5 ml-2">Survey Form</h2>
        <hr>
        <p class="lead">Please complete survey by filling out the "About You" section and
           answering questions.
        </p>
        <div>
          <a href="/">
            <button type="button" class="btn btn-primary btn-lg">Home</button>
          </a>
        </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-10">
      <h3>About You</h3>
      <hr>
      <form>
        <div class="form-row">
          <div class="col-md-8 mb-3">
            <label for="validationDefault01">Name (Required)</label>
            <input type="text" class="form-control" id="friendName" placeholder="Name" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-8 mb-3">
            <label for="validationDefault02">Photo (Required)</label>
            <input type="text" class="form-control" id="friendPhoto" placeholder="url of image"  required>
          </div>
        </div>
        <hr>
        {{#each surveyQuestions }}
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <h3>Question {{addOne @index "+" 1}}</h3>
              <h4>{{question}}</h4>
              <select class="opt-selected" id={{makeId @index "+" 1}}>
                <option class="select-placeholder" selected="selected" disabled selected>Select your option</option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
              </select>
            </div>
          </div>
        {{/each}}
            <button class="mt-3 mb-2 btn btn-primary btn-large btn-block" type="submit" id="submit-btn">Submit Survey</button>
      </form>

      </div>
    </div>

{{!-- Modal --}}
<div class="modal" tabindex="-1" role="dialog" id="best-match">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header row">
        <h4 class="modal-title col">Friend Match</h4>
        <button type="button" class="col close" data-dismiss="modal" aria-label="Close">
          <span class="float-right mr-3" aria-hidden="true">&times;</span>
        </button>
        <hr>
      </div>
      <h5 class="modal-body" id="bmatch-name"></h5>
      <div class="modal-body" id="bmatch-pic">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary justify-content-end" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  console.log("Hello from survey-layout");
  $("#submit-btn").on("click", function(event) {
    var userInfo = {};

    event.preventDefault();

    // validate form
    userInfo = {
      "name": $("#friendName").val(),
      "photo": $("#friendPhoto").val(),
      "scores": [ $("#qtn1").val(), $("#qtn2").val()]
    };

    // post data to api
    $.post("/api/friends", userInfo, function(data) {
      // place best match users info in modal
      bimg = $("<img>");
      console.log("Best Match: " + JSON.stringify(data));
      $("#bmatch-name").html(data.name);
      bimg.attr("src", data.photo).
           attr("alt", data.photo).
           addClass("img-fluid");
      $("#bmatch-pic").replaceWith(bimg);
      $("#best-match").modal("toggle");
    });
  }); 
</script>
